.bg{
    align-items: center;
    background-color: #b5f2b4;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}
.createAcc{
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    height: auto;
    width: 25rem;
}
.fixedLabel{
    color: #576F72;
    font-size: 0.8rem;
}
.head{
    color: #576F72;
    font-weight: bold;
    
}
.mobile{
    padding-bottom: 0.8rem;
}
@media screen and (max-width: 800px){
    .createAcc{
        width: 100%;
    }
}