.menu{
    background-color: red;
    color: black;
    font-size: 1rem;
    height: 100%;
    margin: 0;
    padding-top: 0.5rem;
    width: 100%;
}
.menu ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
    padding: 0;
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li:hover{
    color: #446A46;
    cursor: pointer;
}
.menu ul li:after {
    background-color: #446A46;
    content: '';
    height: 0.125rem;
    left: 0;
    position: absolute;
    top: 2rem;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    width: 100%;
}
.menu ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.shoeAccordian{
    height: 3rem;
    width: 100%;
}