.head{
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.otpDetails{
    display: flex;
    flex-direction: row;
}
.resend{
    color: #446A46;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    user-select: none;
}
.resendTimer{
    color: #576F72;
    font-size: 0.9rem;
    font-weight: bold;
}
.subHead{
    color: #576F72;
    font-size: 0.9rem;
}
.textBox{
    border-bottom: #576F72 solid 0.1rem;
    border-left: none;
    border-right: none;
    border-top: none;
    color: black;
    font-size: 1.3rem;
    height: 4rem;
    margin-right: 1rem;
    text-align: center;
    outline: none;
    width: 3.5rem;
}
@media screen and (max-width: 700px){
    .textBox{
        margin-right: 0.8rem;
        width: 2.5rem;
    }
}