@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@200&display=swap');
*{
    box-sizing: border-box;
}
body{
    color: black;
    font-size: 1rem;
    margin: 0;
}
.burger, .cart{
    display: none;
}
.cartInitial{
    height: 1.2rem;
    width: 1.2rem;
}
.cartMenu{
    align-items: center;
}
.navbar{
    background-color: #CFD2CF;
    box-shadow: 0 1px #cfd2cfaf;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    padding: 2rem 0 2rem 5rem;
}
.navlist{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlist > li{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}
.navlist > li:hover{
    color: #446A46;
    cursor: pointer;
}
@media screen and (max-width: 945px) {
    .burger, .cart{
        display: contents;
        cursor: pointer;
    }
    .cartMenu{
        display: none;
    }
    .close{
        display: flex;
    }
    .navbar{
        flex-wrap: wrap;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .navlist{
        align-items: flex-start;
        background-color:#CFD2CF;
        box-shadow: 1px 0 #cfd2cfaf;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        left: -18rem;
        padding-left: 1rem;
        position: fixed;
        top: 0;
        transition: left 0.5s;
        width: 18rem;
    }
    .navlist.menubar{
        left: 0;
    }
    .navlist > li{
        margin: 0;
        padding-top: 1.5rem;
        padding-left: 1rem;
    }
}