.head{
    color: #576F72;
}
.layout{
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7.5rem;
    padding: 1rem 1rem 1rem 10rem;
    width: 100%;
}
@media screen and (max-width: 1000px){
    .layout{
        padding: 1rem 1rem 1rem 1rem;
    }
}